.save-information-container {
  text-align: right;
  font-weight: bold;
  font-size: 12px;
}
.save-information-date {
  font-weight: lighter;
  text-transform: capitalize;
}
.save-information-loader {
  width: 48px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

