.spinner {
  border: 5px solid rgb(188, 185, 185);
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.spinner-sm {
  width: 24px;
  height: 24px;
}
.spinner-md {
  width: 48px;
  height: 48px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

